@import "tailwindcss";

@theme {
  --color-primary: #7d2ce0;
  --color-text-on-primary: #ffffff;
  --color-secondary: #a684ef;
  --color-outline-ui: #e4d5f8;
  --color-background-main: #f3f3f3;
}

/* Gesamte Scrollleiste */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Spur (Hintergrund der Scrollleiste) */
::-webkit-scrollbar-track {
  background: #e4d5f8;
}

/* Daumen (der bewegliche Teil der Scrollleiste) */
::-webkit-scrollbar-thumb {
  background: #7d2ce0;
  border-radius: 5px;
}

/* Daumen beim Hover */
::-webkit-scrollbar-thumb:hover {
  background: #a684ef;
}

html {
  font-size: 13px; /* Standard: 16px */
}

body {
  background-color: #f3f3f3;
  color: black;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
