@import "tailwindcss";

@theme {
  --color-primary: #735cff;
  --color-text-on-primary: #ffffff;
  --color-secondary: #9a8aff;
  --color-outline-ui: #e0dbff;
  --color-background-main: #f3f3f3;
}

/* Gesamte Scrollleiste */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Spur (Hintergrund der Scrollleiste) */
::-webkit-scrollbar-track {
  background: #e0dbff;
}

/* Daumen (der bewegliche Teil der Scrollleiste) */
::-webkit-scrollbar-thumb {
  background: #735cff;
  border-radius: 5px;
}

/* Daumen beim Hover */
::-webkit-scrollbar-thumb:hover {
  background: #9a8aff;
}

html {
  font-size: 13px;
}

body {
  background-color: #f3f3f3;
  color: black;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  border-radius: 20px;

}
